<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Screen</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .grid {
      width: 640px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 16px 8px;
    }

    .column-2 {
      grid-column: span 2;
    }

    .column-4 {
      grid-column: span 4;
    }

    .result {
      color: blue;
    }
  </style>
  <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
  <div id="app" class="grid">
    <label class="column-2">配置</label>
    <select class="column-4">
      <option value="theater">影院 1.0</option>
      <option value="home">家（室内）</option>
      <option value="beach">海滩（室外）</option>
      <option value="imax">IMAX 影院</option>
      <option value="world-cup">世界杯</option>
      <option value="custom">自定义</option>
    </select>
    <span class="column-2"></span>

    <label class="column-2">水平 FOV</label>
    <input class="column-4" type="range" min="0.1" max="179.9" step="0.1" v-model="fov">
    <input type="number" min="0.1" max="179.9" step="0.1" v-model="fov">
    <label>度</label>

    <label class="column-2">默认观影距离</label>
    <input class="column-4" type="range" min="1" max="60" step="0.1" v-model="distance">
    <input type="number" min="1" max="60" step="0.1" v-model="distance">
    <label>米</label>

    <label class="column-2">观影视线高度</label>
    <input class="column-4" type="range" min="0.25" max="2" step="0.01" v-model="eye">
    <input type="number" min="0.25" max="2" step="0.01" v-model="eye">
    <label>米</label>

    <label class="column-2">仰角</label>
    <input class="column-4" type="range" min="-30" max="30" step="0.01" v-model="elevation">
    <input type="number" min="-30" max="30" step="0.01" v-model="elevation">
    <label>度</label>

    <span class="column-4 result">屏幕宽：{{ screen.width.round(2) }} 米</span>
    <span class="column-4 result">屏幕高 [4:3]：{{ screen.height["4-3"].round(2) }} 米</span>
    <span class="column-4 result">屏幕中心：{{ screen.centerY.round(2) }} 米</span>
    <span class="column-4 result">屏幕高 [16:9]：{{ screen.height["16-9"].round(2) }} 米</span>

  </div>

  <script>
    if (!Number.prototype.round) {
      Number.prototype.round = function (digits = 0) {
        const multiplier = Math.pow(10, digits);
        return Math.round(this * multiplier) / multiplier;
      }
    }

    function fovToLength(fov, distance) {
      const DEG2RAD = 0.017453292;
      return 2 * Math.tan(fov / 2 * DEG2RAD) * distance;
    }


    class Config {
      constructor(fov, distance, eye, elevation) {
        this.fov = fov;
        this.distance = distance;
        this.eye = eye;
        this.elevation = elevation;
      }
    }

    const configOld = new Config(69.33, 47, 1, 1);

    Vue.createApp({
      data() {
        return {
          fov: 64,
          distance: 8,
          eye: 1,
          elevation: 16,
        }
      },
      computed: {
        screen() {
          const width = fovToLength(this.fov, this.distance);
          const height = {
            "4-3": width * 3 / 4,
            "16-9": width * 9 / 16
          };
          const centerY = fovToLength(this.elevation, this.distance) + height["4-3"] / 2;
          return {
            width,
            height,
            centerY
          };
        }
      }
    }).mount("#app");

  </script>
</body>

</html>